{% extends 'base.html' %}
{% block content %}

<h1>About Me</h1>
<hr />
<p>Bilingual software engineer, problem solver with a simple and understandable solution by approaching it flexibly. I have earned collaboration and relationship management skills while working and studying in different places. I like to organize my life, my work, and my studying to reduce risk management.</p>
<p>
    Click <a href="https://docs.google.com/document/d/1ozJt1JR1ZhS7v7gUF3ApjC7eD-UkFZcz/edit">this</a> to view my resume.
</p>
<p>
    Interested in viewing my commits? Please see my <a href="https://github.com/hnhtran">Github</a>
</p>
<p>
    <a href="https://www.linkedin.com/in/tran-huynh-jade/">LinkedIn</a> is the page you can see more about my background and my work.
</p>
<div class="row">
    <div class="col s6">
        {% include 'test.html' %}
    </div>
    {% include 'feedback.html' %}
<!-- <div class="col s6">
    <form action="{% url 'add_feedback' %}" method="POST" class="feedbackForm">
        {% csrf_token %}
        {{ feedback_form.as_p }}
        <button type="submit" class="btn waves-effect waves-light">Submit</button>
    </form>
</div> -->
</div>

<script>
    const selectEl = document.getElementById('id_feedback');
    M.FormSelect.init(selectEl);
</script>

{% endblock %}